body {
	/* background: #aaaa7f; */
	/* background: #fffaf8; */
	background-color: #F9F8F5;
	/* background: url("../img/佛冈.png");
	background-size: cover;
	opacity: 0.7;
	background-attachment: fixed;
	background-position: center center; */
	}

h1 {
	color: #000000;
	text-align: center;
}

.container {
	margin: 100px auto;
	width: 30%;
}

form {
	background: #FFF;
	height: 300px;
	width: 100%;
	border-radius: 10px;
	position: relative;
}

label {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	margin-left: 40px;
}

input {
	text-align: left;
	margin: 10px;
}

.input {
	width: 80%;
	height: 35px;
	margin-left: 40px;
}

.checkbox {
	margin-left: 30px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.submit {
	display: inline-block;
	margin-top: 0;
	margin-left: 220px;
	background: #000;
	border: none;
	color: #FFF;
	height: 35px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}

.left {
	margin: 20px;
}

.right {
	position: absolute;
	right: 20px;
}