/* 通用样式重置 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 下拉菜单容器 */
.dropdown {
	position: relative;
	display: inline-block;
}


/* 下拉内容样式 */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;

	height: 150px;
	/* 例如，设置高度为200px */
	overflow-y: auto;
	/* 如果内容超出高度，允许滚动 */
}

/* 下拉菜单链接样式 */
.dropdown-content a {
	color: black;
	padding: 2px 3px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* 鼠标悬停在下拉按钮上时改变背景颜色 */
.dropdown:hover .dropbtn {
	background-color: rgba(0, 0, 0, 0.2);
}

/* 鼠标悬停在下拉菜单上时显示下拉内容 */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* 显示下拉菜单 */
.dropdown:hover .dropdown-content {
	display: block;
}


/* 新增样式以适应登录区域的设计 */
.login ul {
	list-style: none;
	position: relative;
	display: flex;
	justify-content: flex-end;
	/* 将列表项对齐到右侧 */
}

.login ul li {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	/* 确保下拉菜单可以相对于li定位 */
}

/* 将欢迎信息设为行内块，以适应下拉菜单 */
.dropdown-welcome span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

/* 调整下拉按钮和下拉内容的样式以适应登录区域的设计 */
.dropbtn {
	padding: 5px 10px;
	margin-left: 5px;
	font-size: 14px;
	background-color: #aaaa7f;
	color: white;
	border: none;
	cursor: pointer;
}

/* 鼠标悬停在下拉按钮上时显示下拉内容 */
.dropdown-welcome:hover .dropdown-content {
	display: block;
}